 * {
      box-sizing: border-box;
      margin: 0;
      padding: 0;
    }

    body, html {
      height: 100%;
      font-family: 'Segoe UI', sans-serif;
      color: #e1e8f4;
    }

.home-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  /*background: linear-gradient(135deg, #182d4b 20%, #0056b3 80%);
  */
  background: #182d4b;
  position: relative;
  overflow: hidden;
}

.container {
  max-width: 800px;
  min-height: 400px;
  width: 100%;
  background: white;
  padding: 2rem;
  border-radius: 16px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
  z-index: 2;
  text-align: center;
  background: rgba(255, 255, 255, 0.15);          /* translucent white */
  backdrop-filter: blur(50px);                    /* glass blur effect */
  border: 1px solid rgba(255, 255, 255, 0.3); 
}

h1 {
  text-align: center;
  color: #e1e8f4;
  margin-bottom: 3rem;
}

.last-check {
  margin-top: 6rem;
  font-size: 1rem;
  color: #e1e8f4;
  text-align: center;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: pre-line;
}

.wave-container {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 200px;
  overflow: hidden;
  z-index: 0;
}

.wave-container svg {
  width: 100%;
  height: 100%;
}

.button {
  display: inline-block;
  margin: 10px;
  padding: 20px 30px;
  font-size: 18px;
  border: none;
  border-radius: 8px;
  background-color: #7aacc5;
  color: #e3e8ec;
  cursor: pointer;
  transition: background-color 0.3s ease;
  text-decoration: none;
  font-weight: bold;
}

.button:hover {
  background-color: #93bcdb;
}

.upper-right-buttons {
  position: absolute;
  top: 20px;
  right: 20px;
  display: flex;
  gap: 10px;
  z-index: 3;
}

.settings-btn {
  background-color: #7aacc5;
  border: none;
  border-radius: 50%;
  width: 48px;
  height: 48px;
  font-size: 20px;
  cursor: pointer;
  box-shadow: 0 2px 6px rgba(0,0,0,0.2);
  transition: all 0.3s ease;
}

.settings-btn:hover {
  background-color: #93bcdb;
}

.logout-btn {
  background-color: #a01e2b;
  font-weight: bold;
  color: #e1e8f4;
  border: none;
  border-radius: 8px;
  padding: 10px 16px;
  font-size: 16px;
  cursor: pointer;
  box-shadow: 0 2px 6px rgba(0,0,0,0.2);
  transition: all 0.3s ease;
}

.logout-btn:hover {
  background-color: #c82333;
}

.connect-btn {
  background-color: #7aacc5;
  border: none;
  border-radius: 70%;
  width: 48px;
  height: 48px;
  font-size: 20px;
  cursor: pointer;
  box-shadow: 0 2px 6px rgba(0,0,0,0.2);
  transition: all 0.3s ease;
}

.connect-btn:hover {
  background-color: #93bcdb;
}

.app-toggle {
  position: fixed;
  top: 20px;
  right: 20px;
  background-color: #16c60c; /* πράσινο όταν είναι ενεργό */
  border: none;
  border-radius: 50%;
  width: 48px;
  height: 48px;
  padding: 8px;
  cursor: pointer;
  transition: background-color 0.3s ease;
  box-shadow: 0 2px 6px rgba(0,0,0,0.2);
}

.app-toggle.off {
  background-color: #dc3545; /* κόκκινο όταν είναι απενεργοποιημένο */
}

.power-icon {
  width: 30px;
  height: 30px;
}

.icon-logo {
  width: 120px;
  height: 120px;
  position: absolute;
  top: 22px;
  left: 50%;
  transform: translateX(-50%);
  z-index: 3;
}