<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8" />
  <title>Smart Home</title>
  <link rel="stylesheet" href="/static/homepagestyle.css" />
</head>
<body>
  <div class="home-container">
    <div class="container">
  <h1>🏠 Smart Home</h1>
  <button id="appToggleBtn" class="app-toggle" onclick="toggleApp()">
  <img src="/static/images/power-off.png" alt="Power" class="power-icon">
</button>
  <a href="security.html" class="button" title="Security">🔐 Security</a>
  <a href="conditions.html" class="button" title="Conditions">🌡️ Conditions</a>

<p id="last-check" class="last-check"></p>

</div>

    <div class="upper-right-buttons">
        <button class="connect-btn" title="Connect your space">
            🌐
        </button>
        <button class="settings-btn" title="Settings">
            ⚙️
        </button>
        <button class="logout-btn" id ="logout-btn" title="Logout">
            Logout
        </button>
    </div>

        <!-- Background waves -->
    <div class="wave-container">
      <svg viewBox="0 0 500 150" preserveAspectRatio="none">
        <path d="M-9.31,64.42 C149.99,150.00 271.67,-1.19 503.47,79.41 L500.00,150.00 L0.00,150.00 Z"
              style="stroke: none; fill: rgba(255,255,255,0.1);"></path>
      </svg>
    </div>
    <script src="/static/homepage.js"></script>
</body>
</html>
